/*common*/
span{font-size:13px;color:#767676;}
.blue{color:#003399;}
/*toTop*/
.toTop{position:fixed;top:520px;left:1260px;z-index:3;width:80px;height:80px;display:none;}
.toTop img{width:80px;height:80px;}
/*index*/
.detail-top{background-color:#f0f0f0;}
.detailTop-up{color:#767676; }
.compare {width:406px;height:50px;padding-top: 10px;}
.compare span{display:inline-block;float:left;padding-top:6px;margin-right:10px;}
.compare dd{width:40px;height:30px;border:1px dashed #BFBFBF;display:inline-block;}
.compare dd img{width:40px;height:30px;}
.compare dt{display:inline-block;background:linear-gradient(#FEFEFE,#F0F0F0);border:1px solid #BFBFBF;
	position:absolute;left:1213px;padding:4px 6px;}
	.compare dt a:hover{text-decoration:none;}
.pannel-item{float:left;padding:6px 22px;background-color: #f0f0f0;border-top:3px solid #f0f0f0;border-radius:3px 3px 0 0; }
.pannel-item a{font-size:14px;}
.pannel-item a:hover{text-decoration: none;}
.pannel-on{border-top:3px solid #ff6600;background-color: #fff;}
.pannel-on a{color:#000;font-weight:bold;}
.addCompare {padding-top: 10px;}
.addCompare input{margin-right:4px;vertical-align:middle;}
.addCompare span{color:#484848;}
.fixedtop{position: fixed;left:0;top:0;background-color:#606982;height:40px;width:100%;z-index:5;display:none;}
.fixed-item{background-color:#606982;border-top:3px solid #606982;}
.fixed-item a{color:#fff; }
.fixed-on{border-top:3px solid #ff6600;background-color: #fff;border-bottom:1px solid #fff;}
.fixed-on a{color:#000;font-weight:bold;}
.detail-bar{display:inline-block;padding:10px 32px 10px 48px;margin-left:539px;color:#fff;font-weight:bold;
    background:url(../images/icon/shopcar2.png)14px center no-repeat;background-size:23px 23px;background-color:#ff6600;}
.detail-bar:hover{background-color: #ff971c;cursor:pointer;}
/*chosen*/
.chosen{height:122px;display:none;}
.chosen-pic{width:80px;height:60px;float:left;display:block;padding:20px;}
.chosen-pic img{width:78px;height:78px;}
.chosen h3{font-size: 15px;width:600px;height:25px;display:inline-block;font-weight:bold;padding-top: 20px;}
.chosen p{font-size:13px;color:#666666;}
.chosen-shopcar{display:inline-block;padding:10px 60px 10px 78px;color:#fff;font-size:18px;
    margin-top:20px;background:url(../images/icon/shopcar2.png)46px center no-repeat;background-size: 22px 22px;
    background-color:#1C429A;}
.chosen-shopcar:hover{text-decoration:none;background-color:#295DD7;}

/*商品详情*/
.productDetail{display:block;}
.pd-title{height:620px;margin-top:30px;}
.pd-pic{width:450px;height:620px;float:left;}
.pd-price{width:750px;height:620px;float:left;}
.big-pic{margin-top:80px;}
.big-pic img{width:450px;height:340px;}
.small-pic{width:360px;height:72px;margin-top:46px;overflow:hidden;margin-left:48px;}
.small-pic ul{width:470px;overflow:hidden;}
.small-pic li{float:left;margin-right:10px;width:82px;height:64px;}
.small-pic img{width:82px;height:64px;}
.next-list{display:block;width:40px;height:64px;margin-left:350px;position:absolute;left:130px;top:756px;
	background:url(../images/icon/next.png)no-repeat;background-size:40px 60px;}
.pre-list{display:block;width:40px;height:64px;background:url(../images/icon/pre.png)no-repeat;
	background-size:40px 60px;position:absolute;left:92px;top:756px;}
.small-on{border:1px solid #ff6600;}

.price-left{width:512px;background:#fff;border-right: 1px solid #DDDDDD;}
	.pd-detail{font-size:13px;}
	.pd-price h1{font-size:21px;font-weight:bold;}
	.pd-price p{color:#666666;}
	.pd-detail li{width:472px;height:30px;line-height:30px;}
	.pd-detail pre{display:inline-block;}
	.dollar{color:#ff6600;font-weight:bold;}
	.price{font-size:30px;font-weight:bold;color:#ff6600;}
	.detail-title{display:inline-block;}
	.pd-return{margin:10px 0 40px 0;}
	.pd-return img{vertical-align:middle;}
	.mini-pic {margin-bottom: 10px;}
	.mini-pic img{width:32px;height:30px;margin-right:10px;vertical-align:middle;}
	.youhuo{border:1px solid #A6A6A6;width:32px;height:30px;display:inline-block;}
	.gouxuan{border:1px solid #ff6600;}
	.meihuo{border:1px dotted #A6A6A6;width:32px;height:30px;display:inline-block;}
	.banben{margin-top: 20px;}
	.banben a{padding:5px 10px;margin-right: 5px;width:60px;height:18px;}
	.banben a:hover{text-decoration:none;}
	.color-selected{color:#ff6600;font-size:18px;}
	.banben-selected{color:#ff6600;font-size:18px;}
	.addnum{margin-top: 10px;}
	.addnum input{width:70px;height:28px;vertical-align:middle;text-indent:30px;}
	.add{width:28px;height:28px;display:inline-block;border:1px solid #A6A6A6;vertical-align:middle;line-height:28px;
		text-align:center;}
	    .mine{border-right:none;}
	    .mine2{border-left:none;}
	    .add:hover{text-decoration: none;}
	.addnum span{margin-left: 10px;}
	.price-left p{margin:30px 0 0 80px;color:#ff6600;}
	.buy{width:488px;padding-bottom:30px;background-color:#f0f0f0;margin-top: 24px;}
	.buy a{display:inline-block;}
	.buy a:hover{text-decoration:none;}
	.buynow{padding:10px 62px;font-size: 20px;background-color: #FF6600;color:#fff;margin:20px 0 0 20px;}
	.buynow:hover{background-color: #FF971C;}
	.addshopcar{padding:10px 62px;font-size: 20px;background-color: #1c429a;color:#fff;margin:20px 0 0 20px;}
	.addshopcar:hover{background-color: #295DD7;}
	.collect{padding:7px 9px;border:1px solid #BFBFBF;background-color:#fff;margin:20px 0 0 20px;color:#000;}
	.collect:hover{text-decoration: none;}
	.heart{width:30px;height:30px;line-height:30px;background:url(../images/icon/Like.gif)left no-repeat;
		background-position:-14px -24px;padding:1px 10px 0px  42px;border:1px solid #BFBFBF;background-color:#fff;
		margin-left:20px;}
	.share{width:150px;position:absolute;border:1px solid #BFBFBF;left: 750px;top:828px;
	    padding:1px 0 0 6px;}
	.share p{width:164px;height:30px;margin:0;padding:0;}
	.share-weibo,.share-tencent,.share-douban,.share-kaixin,.share-renren,.share-taobao,.share-xianguo,
	    .share-digu{width:27px;height:24px;background: url(../images/icon/sshare_icons.png) no-repeat;vertical-align:middle;
	    	margin-right:5px;}
	.share-weibo{background-position: 0 0px;opacity:0.3;}
	.share-tencent{background-position: 0 -24px;opacity:0.3;}
	.share-douban{background-position: 0 -48px;opacity:0.3;}
	.share-kaixin{background-position: 0 -72px;opacity:0.3;}
	.share-renren{background-position: 0 -96px;opacity:0.3;}
	.share-taobao{background-position: 0 -120px;opacity:0.3;}
	.share-xianguo{background-position: 0 -144px;opacity:0.3;}
	.share-digu{background-position: 0 -168px;opacity:0.3;}
	.share a:hover{opacity:1;}
	.share-btn{background: url(../images/icon/down4.png);background-size:18px 18px;width:18px;height:18px;
	    display:inline-block;vertical-align:middle;}
	.hide{display:none;}
	.show{display:block;}
.price-right{width:220px;padding-right: 10px;}
    .price-right h3{border-bottom:1px solid #f0f0f0;line-height:40px;}
    .price-right h3 a{border:1px solid #f0f0f0;color:#003399;background:url(../images/icon/fall.png)left no-repeat;
    	background-size: 14px 14px;padding-left: 16px;}
    .point{margin-top: 10px;}
    .point a{font-size:23px;font-weight: bold;color:#ff6600;}
    .pingjia{margin-bottom: 120px;}
    .erweima {text-align: center;border-top:1px solid #f0f0f0;}
    .erweima img{width:85px;height:85px;margin-top:20px;}

.pd-opinion{margin-top: 10px;}
    .pd-opinion h3{color:#ff6600;font-size:16px;font-weight:bold;border-bottom: 2px solid #ff6600;
        padding-bottom:6px;}
    .pd-opinion-text img{width:62px;height:62px;margin-right:4px;}
    .rank{display:inline-block;width:67px;height:12px;background:url(../images/icon/flat_rank.gif)center no-repeat;
    	background-position:0px 0px;}
    .username{width: 250px;height:94px;padding:10px 0 0 12px;}
    .pd-opinion-text{border:1px solid #E6E6E6;padding-bottom: 10px;}

.pd-pics p{margin:16px 0 20px 0;border-top:1px solid #E6E6E6;}
    .pd-pics h2{font-size:32px;}
.pd-pics table{width:975px;}
.jiucuo a{color: #0044A9;}
.row1{font-weight:bold;background-color: #FCD5B4;}
.zhishi{background-color: #F79646;}
.history{margin-top:50px}
.history-list{margin-top: 50px;margin-left: 20px;}
.history-list li{width:140px;float:left;margin-left:60px;}
.history-list img{width:90px;height:66px;}

/*用户评论*/
.userRating{display:none;}
.user-point{border-top: 1px solid #DFDFDF;border-bottom: 1px solid #DFDFDF;padding:10px 0 20px 0;height:120px;
    padding:20px 0 20px 0;}
.user-point li{float:left;}
.point1 {border-right:1px solid #DFDFDF;width:370px;}
.point1 h4{font-size:40px;color:#ff6600;padding-left:10px;}
.point1 p{font-size:13px;color:#777777;padding-left:12px;}
.point1 span{margin:14px 0 0 20px;display:inline-block;width:270px;height:24px;}
.point-line{border:1px solid #DADADA;width:150px;height:3px;background:#DADADA;display:inline-block;
	margin-left:50px;border-radius:3px;}
.point-line-yellow{border:1px solid #ff6600;background:#ff6600;}
.point2{border-right:1px solid #DFDFDF;text-align: center; }
.point2 h4{border:4px solid #ff6600;border-radius:50%;padding:22px 6px;margin:0 60px;font-size:30px;}
.point3{width:200px;border-right:1px solid #DFDFDF;padding-left:30px;height:120px;}
.point3 p{width:172px;font-size: 13px;color:#666666;}
.point4{padding-left:30px;}
.point4 h4{font-size: 14px;color:#666666;}
.talk{padding:10px 45px;background-color: #ff6600;color: #fff;margin-top:26px;display: inline-block;}
.talk:hover{text-decoration:none;background-color:#FF971C }
.user-pic{padding:10px 20px 0 10px;}
.user-good{height:150px;margin-top:26px;}
.chose1{color:#666666;height:38px;background-color:#f0f0f0;padding:8px 0 0 20px;}
.most{display:inline-block;width:80px;height:26px;line-height:26px;text-align:center;padding-right:10px; 
	border:1px solid #BFBFBF;background:url(../images/icon/downarrow.png)72px no-repeat;background-size:13px 13px;
    background-color:#fff;}
.most-on{border:1px solid #F87500;color:#F87500;background:url(../images/icon/downarrow2.png)72px no-repeat;
    background-size:13px 13px;}
.rating-chose{border-top:3px solid #F87500;}
.user-chosen{color:#000;font-weight:bold;}
.unhappy{margin-right:500px;}
.chose1 a:hover{text-decoration:none;}
.chose2{width:1200px;height:60px;line-height: 60px;border-top:1px solid #DDDDDD;border-bottom:1px solid #DDDDDD;}
.chose2 a{color:#f66820;padding:5px 10px 5px 28px;background:url(../images/icon/biaoqian.png)center no-repeat;
    background-size:120px 80px;}
    .chose2 a:hover{text-decoration: none;}
 .users{width:145px;height:125px;text-align:center;padding-top:30px;border-right:1px solid #DDDDDD;}
 .user-write{width:1024px;height:155px;padding-left:30px;}
 .ta{font-size:13px;height:40px;border-bottom:1px solid #DDDDDD;padding-top:16px;}
 .ta img{margin-right:20px;}
 .ta a{color:#000;padding:5px 18px 5px 18px;border:1px solid #DDDDDD;}
    .ta a:hover{text-decoration:none;}
 .write-text{line-height:30px;}
 .write-text a{float:right;}
 .user-rating li{height:155px;border-bottom:1px solid #DDDDDD;}
  .rating-page{padding:20px 0;}
 .rating-page a{padding:5px 10px;border:1px solid #DDDDDD;float:right;}
.writenow{height:433px;background-color:#F0F0F0;padding:20px 0 0 20px;}
.rowone a{display:inline-block;width:20px;height:24px;line-height:24px;background:url(../images/icon/gray-egg.png);
	vertical-align:middle; }
.rowtwo{margin-top:10px;}
.rowtwo a{border:1px solid #DADADA;padding:3px 8px;}
.rowtwo a:hover{text-decoration:none;}
.rowthree{margin-top:10px;}
.rowthree span{vertical-align:top;}
.rowfour{margin-top:20px;height:60px;border-bottom: 1px solid #DADADA;}
.rowfour input{font-size:13px;padding:5px 18px;background-color: #F4F4F4;border:1px solid #DADADA;}
.rowfive {padding:20px 0 0 60px;}
.rowfive input{font-size:18px;padding:8px 30px;color:#fff;background-color:#FF6600;border:1px solid #DADADA;}
.rowfive input:hover{background-color:#FF971C;}
/*具体参数*/
.specificParameters{display:none;}
.pd-head{background-color:#EEEEEE;border-top:1px solid #DEDEDE;height:35px;line-height: 35px;font-weight:normal;
    padding-left: 10px;}
.pd-type{width:180px;text-align:center;font-size: 13px;color: #767676;border:1px solid #DEDEDE;height:30px;line-height:30px; }
.pd-text{font-size: 13px;padding-left:10px;border:1px solid #DEDEDE;border-right:1px solid #fff;
    line-height:30px; }
/*售后服务*/
.afterService{display:none;}
.afterService table{width:1200px;}
.pd-head2{background-color:#EEEEEE;border:1px solid #DEDEDE;height:35px;line-height:35px;padding-left:10px;font-weight:normal;}
.pd-text2{font-size: 13px;color: #767676;border:1px solid #DEDEDE;line-height:30px;padding-left:26px;}
/*商品咨询*/
.productConsultation{display:none;}
.newegg-return{padding:20px 0 20px 20px;font-size: 13px;background-color:#F0F0F0;border-bottom:1px solid #DDDDDD;}
.consultation {height:40px;line-height:40px;}
.consultation-item{padding:5px 10px;border:1px solid #DDDDDD;margin-right:10px; }
.consultation-item:hover{text-decoration:none;}
.consultation-item-on{border:1px solid #ff6600;color: #ff6600;}
